.v-theme-provider
  padding-left: 1rem
  background: var(--v-background)
  color: var(--v-text)

  .primary
    color: var(--v-primary)

  .primaryVariant
    color: var(--v-primaryVariant)

  .secondary
    color: var(--v-secondary)

  .tertiary
    color: var(--v-tertiary)

  .inverseText
    color: var(--v-inverseText)

  .text
    color: var(--v-text)
