.v-theme-provider
  background: rgb(var(--v-theme-background))
  color: rgb(var(--v-theme-onBackground))

  .bg-background
    background: rgb(var(--v-theme-background))

  .bg-surface
    background: rgb(var(--v-theme-surface))

  .bg-primary
    background: rgb(var(--v-theme-primary))

  .bg-primaryVariant
    background: rgb(var(--v-theme-primaryVariant))

  .bg-secondary
    background: rgb(var(--v-theme-secondary))

  .bg-secondaryVariant
    background: rgb(var(--v-theme-secondaryVariant))

  .bg-error
    background: rgb(var(--v-theme-error))

  .bg-success
    background: rgb(var(--v-theme-success))

  .bg-warning
    background: rgb(var(--v-theme-warning))

  .bg-info
    background: rgb(var(--v-theme-info))

  .text-primary
    color: rgb(var(--v-theme-primary))

  .text-primaryVariant
    color: rgb(var(--v-theme-primaryVariant))

  .text-secondary
    color: rgb(var(--v-theme-secondary))

  .text-secondaryVariant
    color: rgb(var(--v-theme-secondaryVariant))

  .text-error
    color: rgb(var(--v-theme-error))

  .text-success
    color: rgb(var(--v-theme-success))

  .text-warning
    color: rgb(var(--v-theme-warning))

  .text-info
    color: rgb(var(--v-theme-info))

  .on-background
    color: rgb(var(--v-theme-onBackground))

  .on-surface
    color: rgb(var(--v-theme-onSurface))

  .on-primary
    color: rgb(var(--v-theme-onPrimary))

  .on-primaryVariant
    color: rgb(var(--v-theme-onPrimaryVariant))

  .on-secondary
    color: rgb(var(--v-theme-onSecondary))

  .on-secondaryVariant
    color: rgb(var(--v-theme-onSecondaryVariant))

  .on-error
    color: rgb(var(--v-theme-onError))

  .on-success
    color: rgb(var(--v-theme-onSuccess))

  .on-warning
    color: rgb(var(--v-theme-onWarning))

  .on-info
    color: rgb(var(--v-theme-onInfo))

  .border-background
    border-color: rgb(var(--v-theme-background))

  .border-surface
    border-color: rgb(var(--v-theme-surface))

  .border-primary
    border-color: rgb(var(--v-theme-primary))

  .border-primaryVariant
    border-color: rgb(var(--v-theme-primaryVariant))

  .border-secondary
    border-color: rgb(var(--v-theme-secondary))

  .border-secondaryVariant
    border-color: rgb(var(--v-theme-secondaryVariant))

  .border-error
    border-color: rgb(var(--v-theme-error))

  .border-success
    border-color: rgb(var(--v-theme-success))

  .border-warning
    border-color: rgb(var(--v-theme-warning))

  .border-info
    border-color: rgb(var(--v-theme-info))
